.App {
  text-align: center;
  font-family: Arial, sans-serif;

}

.App-header {
  background-color: #27004b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #282c34;
}

button:hover {
  background-color: #a8def1;
}

.profile-card {
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  background-color: rgba(255, 255, 255, 0.3); 
  border: 1px solid rgba(255, 255, 255, 0.125); 
  border-radius: 10px; 
  padding: 20px; 
  max-width: 300px;
  margin: 0 auto; 
  color: #ffffff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.profile-card img {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover; 
  margin-bottom: 15px; 
}

.profile-card h2 {
  margin: 10px 0; 
  font-size: 24px; 
}

.profile-card h3 {
  margin: 5px 0; 
  font-size: 18px; 
  color: #250030; 
}

.profile-card p {
  margin: 5px 0;
  font-size: 14px; 
  line-height: 1.5; 
}